.input_main_container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    gap:1%;
}
.inputs__container{
    
    border:1px solid black;
}
.inputs__container> input{
    width:100%;
}
.dropdown_white{
    padding:10px 25px;
    border:none;
    background-color:rgb(255, 255, 255);
    color:black;
    font-size: 16px;
    border-radius: 25px;
    
}
.input__headings{

}